body {
  font-family: Helvetica, Arial, sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0;
}
#control-panel {
  position: absolute;
  background: #737373;
  top: 0;
  right: 0;
  margin: 12px;
  padding: 20px;
  font-size: 12px;
  line-height: 1.5;
  z-index: 1;
  border-radius: 8px;
  color: #f0f0f0;
}
label {
  display: inline-block;
  width: 90px;
  text-align: right;
  vertical-align: top;
  line-height: 20px;
  margin-right: 8px;
}
